  .main-div {
    display: flex;
    background-color: #fff;
    min-height: 63vh;
    border-radius: 30px;
  }
  
  .admin-details {
    background-color: #f0f0f0; 
    padding: 10px;
    border-radius: 30px;
    text-align: center;
  }

  .admin-details p{
    align-items: center;
    justify-content: center;
    margin: 50px 1%;
    font-weight: bold;
  }

  .admin-details button{
    background-color: #fff;
    cursor: pointer;
  }
  
  .admin-links {
    margin: 4% 10%;
    padding: 20px;
  }

  .arrow{
    width: 40px;
  }