.form-container {
    box-shadow: 2px 2px 6px grey;
    width: 300px;
    height: auto;
    padding: 10px;
    margin: 1% 35%;
    background-color: whitesmoke; 
    color: white;
    border-radius: 8px; 
    font-family:Calibri;
    font-size: large;
  }
  
  .form-header {
    color: blueviolet;
    text-align: center;
  }
    
  .form-label {
    display: block;
    color: black;
    margin-bottom: 5px;
  }
  #read-only{
    cursor: not-allowed;
  }

  .form-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 95%;
    margin-bottom: 4px;
  }
  
  .form-input:focus {
    border-color: blueviolet;
    outline: none;
  }
  
  .form-error {
    color: red;
    margin-top: 5px;
  }
  
  .form-button{
    margin-top: 20px;
    background-color: lightblue;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-family: calibri;
    font-size: medium;
  }
  
  .form-button:hover {
    background-color: deepskyblue;
  }
  
  .select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-container p {
    color: red;
  }